<app-navbar></app-navbar>
<section class="register-block">
  <div class="container">
    <div class="row">
      <div class="col register-sec">
        <h2 class="text-center">Register Now</h2>
        <form
        class="register-form"
        action=""
        #f="ngForm"
        novalidate
        (ngSumbit) = f.form.valid&&onSubmit()
        >
        <div class="form-group" class="mb-3">
          <label for="inputUsername" class="text-uppercase">UserName</label>
          <input
          type="text"
          class="form-control"
          name="name"
          id=""
          [(ngModel)]="formData.name"
          #name="ngModel"
          required>
          <span
          class="text-danger"
          *ngIf="this.submit&&name.errors?.['required']">
          Name is required.
          </span>
        </div>

        <div class="form-group" class="mb-3">
          <label for="inputPassword" class="text-uppercase">Password</label>
          <input
          type="password"
          class="form-control"
          name="password"
          id=""
          [(ngModel)]="formData.password"
          #password="ngModel"
          required
          minlength="8">
          <span
          class="text-danger"
          *ngIf="this.submit&&password.errors?.['required']">
            Password is required.
          </span><span
          class="text-danger"
          *ngIf="this.submit&&password.errors?.['minlength']">
            Minimum 8 characters is required.
          </span>
        </div>

        <div class="form-group" class="mb-3">
         <label for="inputConfirmPassword" class="text-uppercase">Confirm Password</label>
         <input
         type="password"
         class="form-control"
         name="confirmPassword"
         matching="passMatch"
         id=""
         [(ngModel)]="formData.confirmPassword"
         #confirmPassword="ngModel"
         required>
         <span
         class="text-danger"
         *ngIf="this.submit&&confirmPassword.errors?.['required']">
          Confirm Password is required.
         </span>
         <span
         class="text-danger"
         *ngIf="this.submit && formData.password !== formData.confirmPassword">
          Confirm Password does not match
         </span>
        </div>

        <div class="form-group">
          <span
          class="text-danger"
          *ngIf="this.errorMessage"
          >
          <p [innerText]="this.errorMessage"></p>
          </span>
          <input type="submit"
          class="btn btn-register float-right"
          value="Register"
          (click)="submit=true">
        </div>

        <div class="clearfix"></div>

        <div class="form-group">
          Already have account ? Please
          <a
          href="javascript:void(0);"
          routerLink="/login"
          >Login
         </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
